.product-list-container {
  width: 90%;
  display: flex;
  margin: auto auto;
  flex-direction: column;
}

.product-list-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-back {
  margin: 20px 0;
  color: #8c8c8c;
  align-self: center;
  border: 1px solid #00000033;
}

.btn-filter {
  color: #fff;
  margin: 20px 0 10px 0;
  align-self: flex-end;
  background-color: #5790dd;
  border: 1px solid #00000033;
}