.filters-container {
  width: 100%;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  justify-content: space-between;
  box-shadow: 0 0 10px #00000033; 
}

.search {
  width: 50%;
  display: flex;
  align-items: center;
}

.search input {
  width: 70%;
  border: none;
  font-size: 18px;
  margin-left: 20px;
}

.search img {
  width: 15px;
}

.filter {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.filter input {
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 1275px) {
  .filters-container {
    flex-direction: column;
  }

  .search, .filter {
    width: 100%;
    margin: 10px;
  }

  .filter {
    justify-content: space-around;
  }
}